<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Unit Converter</title>
    <link rel="stylesheet" href="/conv_static/converter_styles.css">
</head>

<body>
    <h1>Unit Converter</h1>
    <!-- Ссылки с кнопками для разных типов конвертеров -->
    <div class="converter-type-button">
        <a href="/converter/distance">Distances</a>
        <a href="/converter/weight">Weight</a>
        <a href="/converter/time">Time</a>
        <a href="/converter/temprature">Temperature</a>
    </div>
</body>